@page "/"

<PageTitle>Home</PageTitle>
<div class="main__container">
    <section id="inicio">
        <h1>Inicio</h1>
        <div class="grid__ini">
            <div class="grid__ini-item personal">
                <img src="img/foto_perfil.jpeg" alt="Foto de Jonathan Ibáñez">
                <h2>Jonathan A. Ibáñez aguilar</h2>
                <h3><span>Desarrollador Backend</span></h3>
                <p>
                    Me dedico a construir el “lado invisible” de las aplicaciones: 
                    <span>APIs, servicios y toda la lógica</span> que hace que las cosas 
                    funcionen detrás de escena.
                    <br>Trabajo con <span>C#, .NET y Python</span>, integrando servicios, manejando 
                    autenticación y explorando tecnologías como ActivityPub. Me interesa 
                    especialmente crear <span>soluciones limpias, escalables y bien pensadas</span>, 
                    no solo funcionales.
                    <br>Actualmente estoy ampliando mi enfoque hacia el <span>desarrollo 
                    full-stack</span>, buscando crear experiencias completas de principio a fin.
                    <br>Y fuera del mundo del código, me vas a encontrar viendo fútbol ⚽, 
                    jugando videojuegos 🎮 o perdiéndome en alguna serie o anime 📺.
                </p>
            </div>
            <div class="grid__ini-item">
                <h2>Estudios</h2>
                <h3>Oct. 2021 – Dic. 2025. <span>Ingeniería en Computación</span> - Universidad Autónoma Metropolitana</h3>
                <p>Proyecto de tesis: Sistema IoT para el Monitoreo de las Condiciones Lumínicas durante el Tiempo de uso de Dispositivos Electrónicos</p>
            </div>
            <div class="grid__ini-item">
                <h2>Contacto</h2>
                <p>No dudes en contactarme en cualquiera de los siguientes lugares.</p>
                <ul>
                    <li>
                        <p>Enviame un correo a: 
                            <a href="mailto:jonathan.ibanez.aguilar@gmail.com?subject=Consulta">jonathan.ibanez.aguilar@gmail.com</a>
                        </p>
                    </li>
                    <li>
                        <p>Revisa mis repositorios en github: 
                            <a href="https://github.com/JonhyIbag" target="_blank" >JonhyIbag</a>
                        </p>
                    </li>
                    <li>
                        <p>Conecta conmigo en LinkedIn: 
                            <a  href="https://www.linkedin.com/in/jonathan-ibanez-2b4460328/" target="_blank">Jonathan Ibáñez</a>
                        </p>
                    </li>
                    <li>
                        <a href="/documents/CV2026_Español.pdf" class="icon__link" download aria-label="Descargar CV en PDF" title="Descargar mi CV">Descarga mi CV</a>
                    </li>
                    @* <a href="https://www.youtube.com/@elfedelobo" target="_blank"> Vamos a ver al fedelobo</a>
    <a href="mailto:jonhy479@gmail.com?subject=Consulta&body=Hola">Mandame un saludo a mi correo</a>
    <a href="tel:+525652501396">Hazme una llamada hot</a> *@
                </ul>
            </div>
        </div>
    </section>

    <section id="tecnologias">
        <h1>Tecnologías</h1>
        <div class="grid__tecs">
            <div class="grid__tecs-item">
                <h2>Backend</h2>
                <div class="grid__specific__tec">
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/backend/csharp.png" alt="Logo de C Sharp">
                        <p>C#</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/backend/dotnet.svg" alt="Logo de .NET">
                        <p>.NET</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/backend/python.svg" alt="Logo de Python">
                        <p>Python</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/backend/mysql.svg" alt="Logo de MySQL">
                        <p>MySQL</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/backend/postgresql.svg" alt="Logo de PostgreSQL">
                        <p>PostgreSQL</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/backend/sqlite.svg" alt="Logo de SQLite">
                        <p>SQLite</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/backend/java.png" alt="Logo de Java">
                        <p>Java</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/backend/c.svg" alt="Logo de C">
                        <p>C</p>
                    </div>
                </div>
            </div>
            <div class="grid__tecs-item">
                <h2>Frontend</h2>
                <div class="grid__specific__tec">
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/frontend/html5.svg" alt="Logo de HTML">
                        <p>HTML</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/frontend/css.svg" alt="Logo de CSS">
                        <p>CSS</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/frontend/javascript.svg" alt="Logo de JavaScript">
                        <p>JavaScript</p>
                    </div>
                </div>
            </div>
            <div class="grid__tecs-item">
                <h2>Herramientas</h2>
                <div class="grid__specific__tec">
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/herramientas/code.svg" alt="Logo de VS Code">
                        <p>VS Code</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/herramientas/gnometerminal.svg" alt="Logo de Terminal">
                        <p>Terminal</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/herramientas/postman.svg" alt="Logo de Postman">
                        <p>Postman</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/herramientas/git.svg" alt="Logo de Git">
                        <p>Git</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/herramientas/github.svg" alt="Logo de GitHub">
                        <p>GitHub</p>
                    </div>
                </div>
            </div>
            <div class="grid__tecs-item">
                <h2>Aprendiendo</h2>
                <div class="grid__specific__tec">
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/aprendiendo/typescript.svg" alt="Logo de TypeScript">
                        <p>TypeScript</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/aprendiendo/docker.svg" alt="Logo de Docker">
                        <p>Docker</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/aprendiendo/mongodb.svg" alt="Logo de MongoDB">
                        <p>MongoDB</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/aprendiendo/unity.svg" alt="Logo de Unity">
                        <p>Unity</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="proyectos">
        <h1>Proyectos</h1>
        <div class="grid__projects">
            <div class="grid__projects-item">
                <div class="grid__specific__project">
                    <div class="carousel__project">
                        <button @onclick="Prev" class="carousel__project__btn prev">⟨</button>
                        <div class="carousel__project__track">
                            @for(int i = 0; i < Images.Count; i++)
                            {
                                <img src="@Images[i]" alt="Proyecto Pizzeria: Imagen de GUI" class="carousel__project__img @(i == currentIndexCarouselProjects ? "active" : "")">
                            }
                        </div>
                        <button @onclick="Next" class="carousel__project__btn next">⟩</button>
                    </div>
                    <div class="grid__specific__project-item">
                        <h2>Pizza UAM - Proyecto Académico</h2>
                        <div class="project__badges">
                            <img alt="Static Badge" src="https://img.shields.io/badge/Java-white?logo=coffeescript&logoColor=black">
                            @* <img alt="Static Badge" src="https://img.shields.io/badge/Java-white?logo=coffeescript&logoColor=black"> *@
                        </div>
                        <p>Aplicación de escritorio tipo sistema de pizzería desarrollada en <span>Java</span> utilizando arquitectura <span>MVC</span>. 
                            <br>◦ Implementación de <span>patrones de diseño</span>: Factory, Facade y Observer
                            <br>◦ Desarrollo de interfaz con <span>JavaFX</span>
                            <br>◦ Separación de responsabilidades y modularidad del código
                        </p>
                        <a href="https://github.com/JonhyIbag/Pizzeria-Design-Patterns.git" target="_blank">
                            <button>
                                <img src="img/github.svg" alt="Link de GitHub">
                                Repositorio
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="experiencia">
        <h1>Experiencia</h1>
            <div class="container__exp">
                <h2>Técnico en Servicios de Mantenimiento - EnProWS</h2>
                <h3>Ene. 2019 - Actualidad</h3>
                <p>EnProWS es una empresa especializada en mantenimiento, diseño e instalacion a equipos de tratamiento de agua; inicié en esta empresa como ayudante general a mis 18 años, y con el tiempo fui creciendo hasta asumir <span>más responsabilidades técnicas y operativas</span>. 
                    Esta etapa ha sido clave para entender cómo funciona un entorno laboral real, trabajar directamente con clientes y adaptarme a distintas situaciones en campo.
                    <br>A lo largo de los años, he participado en <span>actividades de soporte y mantenimiento</span>, tanto preventivo como correctivo, lo que me permitió desarrollar habilidades para <span>diagnosticar problemas, proponer soluciones y ejecutar tareas bajo presión</span>.
                    <br>Además, he tenido un rol activo en la <span>generación de reportes y documentación técnica</span>, asegurando que cada servicio quede correctamente registrado y sea comprensible para otros miembros del equipo. Esto incluye la elaboración de bitácoras, reportes de servicio y apoyo en documentación de ingeniería.
                    <br>En general, esta experiencia me ayudó a desarrollar una base sólida en <span>trabajo en equipo, responsabilidad, comunicación con clientes y atención al detalle</span>, habilidades que ahora complemento con mi perfil técnico como desarrollador.
                </p>
            </div>
            <div class="container__exp">
                <h2>Desarrollador Becario - Proyecto CONVIDA</h2>
                <h3>Jun. 2025 - Actualidad</h3>
                <p>CONVIDA es un proyecto desarrollado y financiado por la <span>Universidad Autónoma Metropolitana (UAM)</span> y con contribuyentes de múltiples universidades como la <span>UNAM</span> o la <span>Universidad de Buenos Aires</span>. Este proyecto tiene como fin desarrollar una plataforma de aprendizaje para estudiantes de nivel medio superior.
                    <br>Como parte de este proyecto, trabajé en el <span>desarrollo de un módulo enfocado en la integración con Mastodon</span>, utilizando <span>Python</span> y el framework <span>Pyramid</span>.
                    <br>Uno de los principales retos fue <span>implementar autenticación mediante OAuth 2.0</span>, permitiendo a los usuarios conectar sus cuentas de forma segura. Además, desarrollé la comunicación con la plataforma utilizando ActivityPub, lo que implicó entender y aplicar un protocolo descentralizado para interacción social.
                    <br>También diseñé e implementé el <span>consumo de APIs REST</span> para la publicación y obtención de información dentro del sistema, asegurando una integración eficiente y mantenible.
                    @* <br>Dentro de la plataforma, trabajé en funcionalidades relacionadas con la interacción del usuario, como el manejo de logros y seguimiento de progreso, aportando a una experiencia más dinámica. *@
                    <br>Durante este proceso, procuré aplicar <span>buenas prácticas de desarrollo</span>, manteniendo una estructura clara del código, separación de responsabilidades y un manejo adecuado de los datos.
                    <br>Esta experiencia reforzó mis habilidades en desarrollo backend, integración de servicios y diseño de soluciones orientadas a problemas reales.
                </p>
            </div>
    </section>

    <section id="cursos">
        <h1>Cursos</h1>
        <div class="grid__courses">
            <div class="grid__courses-item">
                <img src="img/cursos/git-github.jpg" alt="Certificado del curso Git-Github">
                <h2>Curso Profesional de Git y GitHub</h2>
                <ul>
                    <li>Platzi</li>
                    <li>22 horas</li>
                    <li>18 de Junio de 2024</li>
                </ul>
            </div>
            <div class="grid__courses-item">
                <img src="img/cursos/apis-net.jpg" alt="Certificado del curso Apis con .NET">
                <h2>Curso de APIs con .NET</h2>
                <ul>
                    <li>Platzi</li>
                    <li>13 horas</li>
                    <li>26 de Junio de 2025</li>
                </ul>
            </div>
            <div class="grid__courses-item">
                <img src="img/cursos/entity-framework.jpg" alt="Certificado del curso Entity Framework">
                <h2>Curso de Fundamentos de Entity Framework</h2>
                <ul>
                    <li>Platzi</li>
                    <li>15 horas</li>
                    <li>12 de Junio de 2025</li>
                </ul>
            </div>
            <div class="grid__courses-item">
                <img src="img/cursos/linq.jpg" alt="Certificado del curso LINQ">
                <h2>Manejo de Datos con LINQ</h2>
                <ul>
                    <li>Platzi</li>
                    <li>15 horas</li>
                    <li>25 de Septiembre de 2025</li>
                </ul>
            </div>
            <div class="grid__courses-item">
                <img src="img/cursos/terminal.jpg" alt="Certificado del curso Terminal">
                <h2>Introducción a la Terminal y Línea de Comandos</h2>
                <ul>
                    <li>Platzi</li>
                    <li>18 horas</li>
                    <li>05 de febrero de 2026</li>
                </ul>
            </div>
            <div class="grid__courses-item">
                <img src="img/cursos/html.jpg" alt="Certificado del curso HTML">
                <h2>Curso de HTML</h2>
                <ul>
                    <li>Platzi</li>
                    <li>15 horas</li>
                    <li>22 de Enero de 2026</li>
                </ul>
            </div>
        </div>
    </section>
</div>

@code 
{
    private int currentIndexCarouselProjects = 0;

    private List<string> Images = new()
        {
            "img/proyectos/pizzeria/principal.png",
            "img/proyectos/pizzeria/ingredientes.png",
            "img/proyectos/pizzeria/orden.png",
            "img/proyectos/pizzeria/estado.png"
        };

    void Next()
    {
        currentIndexCarouselProjects = (currentIndexCarouselProjects + 1) % Images.Count;
    }

    void Prev()
    {
        currentIndexCarouselProjects = (currentIndexCarouselProjects - 1 + Images.Count) % Images.Count;
    }
}