@page "/"

<PageTitle>Home</PageTitle>
<div class="main__container">
    <section id="inicio">
        <h1>Inicio</h1>
        <div class="grid__ini">
            <div class="grid__ini-item personal">
                <img src="img/gohan.jpeg" alt="Foto de Jonathan Ibáñez">
                <h2>Desarrollador Backend</h2>
                <p>
                    Desarrollador backend junior con experiencia en C#, .NET y Python,
                    enfocado en la creación de APIs e integración de servicios web. He
                    desarrollado soluciones utilizando OAuth 2.0 y consumo de APIs externas,
                    incluyendo la integración con Mastodon mediante ActivityPub. Busco
                    crecer hacia un rol full-stack mientras aporto en el desarrollo de
                    aplicaciones escalables.
                </p>
            </div>
            <div class="grid__ini-item">
                <h2>Estudios</h2>
                <h3>Oct. 2021 – Dic. 2025. <span>Ingeniería en Computación</span> - Universidad Autónoma Metropolitana</h3>
                <p>Proyecto de tesis: Sistema IoT para el Monitoreo de las Condiciones Lumínicas durante el Tiempo de uso de Dispositivos Electrónicos</p>
            </div>
            <div class="grid__ini-item">
                <h2>Contacto</h2>
                <p>No dudes en contactarme en cualquiera de los siguientes lugares.</p>
                <ul>
                    <li>
                        <p>Enviame un correo a: 
                            <a href="mailto:jonathan.ibanez.aguilar@gmail.com?subject=Consulta">jonathan.ibanez.aguilar@gmail.com</a>
                        </p>
                    </li>
                    <li>
                        <p>Revisa mis repositorios en github: 
                            <a href="https://github.com/JonhyIbag" target="_blank" >JonhyIbag</a>
                        </p>
                    </li>
                    <li>
                        <p>Conecta conmigo en LinkedIn: 
                            <a  href="https://www.linkedin.com/in/jonathan-ibanez-2b4460328/" target="_blank">Jonathan Ibáñez</a>
                        </p>
                    </li>
                    @* <a href="https://www.youtube.com/@elfedelobo" target="_blank"> Vamos a ver al fedelobo</a>
    <a href="mailto:jonhy479@gmail.com?subject=Consulta&body=Hola">Mandame un saludo a mi correo</a>
    <a href="tel:+525652501396">Hazme una llamada hot</a> *@
                </ul>
            </div>
        </div>
    </section>

    <section id="tecnologias">
        <h1>Tecnologías</h1>
        <div class="grid__tecs">
            <div class="grid__tecs-item">
                <h2>Backend</h2>
                <div class="grid__specific__tec">
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/backend/csharp.png" alt="Logo de C Sharp">
                        <p>C#</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/backend/dotnet.svg" alt="Logo de .NET">
                        <p>.NET</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/backend/python.svg" alt="Logo de Python">
                        <p>Python</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/backend/mysql.svg" alt="Logo de MySQL">
                        <p>MySQL</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/backend/postgresql.svg" alt="Logo de PostgreSQL">
                        <p>PostgreSQL</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/backend/sqlite.svg" alt="Logo de SQLite">
                        <p>SQLite</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/backend/java.png" alt="Logo de Java">
                        <p>Java</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/backend/c.svg" alt="Logo de C">
                        <p>C</p>
                    </div>
                </div>
            </div>
            <div class="grid__tecs-item">
                <h2>Frontend</h2>
                <div class="grid__specific__tec">
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/frontend/html5.svg" alt="Logo de HTML">
                        <p>HTML</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/frontend/css.svg" alt="Logo de CSS">
                        <p>CSS</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/frontend/javascript.svg" alt="Logo de JavaScript">
                        <p>JavaScript</p>
                    </div>
                </div>
            </div>
            <div class="grid__tecs-item">
                <h2>Herramientas</h2>
                <div class="grid__specific__tec">
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/herramientas/code.svg" alt="Logo de VS Code">
                        <p>VS Code</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/herramientas/gnometerminal.svg" alt="Logo de Terminal">
                        <p>Terminal</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/herramientas/postman.svg" alt="Logo de Postman">
                        <p>Postman</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/herramientas/git.svg" alt="Logo de Git">
                        <p>Git</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/herramientas/github.svg" alt="Logo de GitHub">
                        <p>GitHub</p>
                    </div>
                </div>
            </div>
            <div class="grid__tecs-item">
                <h2>Aprendiendo</h2>
                <div class="grid__specific__tec">
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/aprendiendo/typescript.svg" alt="Logo de TypeScript">
                        <p>TypeScript</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/aprendiendo/docker.svg" alt="Logo de Docker">
                        <p>Docker</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/aprendiendo/mongodb.svg" alt="Logo de MongoDB">
                        <p>MongoDB</p>
                    </div>
                    <div class="grid__specific__tec-item">
                        <img src="img/tecs/aprendiendo/unity.svg" alt="Logo de Unity">
                        <p>Unity</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="proyectos">
        <h1>Proyectos</h1>
        <div class="grid__projects">
            <div class="grid__projects-item">
                <div class="grid__specific__project">
                    <img src="img/gohan.jpeg" alt="">

                    
                    <div class="grid__specific__project-item">
                        <h2>Pizza UAM - Proyecto Académico</h2>
                        <div class="project__badges">
                            <img alt="Static Badge" src="https://img.shields.io/badge/Java-white?logo=coffeescript&logoColor=black">
                            @* <img alt="Static Badge" src="https://img.shields.io/badge/Java-white?logo=coffeescript&logoColor=black"> *@
                        </div>
                        <p>Aplicación de escritorio tipo sistema de pizzería desarrollada en <span>Java</span> utilizando arquitectura <span>MVC</span>. 
                            <br>◦ Implementación de <span>patrones de diseño</span>: Factory, Facade y Observer
                            <br>◦ Desarrollo de interfaz con <span>JavaFX</span>
                            <br>◦ Separación de responsabilidades y modularidad del código
                        </p>
                        <a href="https://github.com/JonhyIbag/Pizzeria-Design-Patterns.git" target="_blank">
                            <button>
                                <img src="img/github.svg" alt="Link de GitHub">
                                Repositorio
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="experiencia">
        <h1>Experiencia</h1>
            <div class="container__exp">
                <h2>Técnico en Servicios de Mantenimiento - EnProWS</h2>
                <h3>Ene. 2019 - Actualidad</h3>
                <p>Aqui pongo una pequeña descripcion. 
                    En esta empresa he podido familiarizarme con el ambiente laboral a
                    lo largo de mas de cinco años, iniciando mis labores como un
                    ayudante general y evolucionando hasta mi puesto actual. Mis
                    ocupaciones principales dentro de esta empresa son:
                    <ul>
                        <li>Creación de reportes de servicio</li>
                        <li>Visitas preventivas y correctivas a clientes</li>
                        <li>Apoyo en servicios de mantenimiento</li>
                        <li>Creación de bitácoras de servicio</li>
                        <li>Apoyo en la creación de documentación de ingeniería</li>
                    </ul>
                </p>
            </div>
            <div class="container__exp">
                <h2>Desarrollador Becario - Proyecto CONVIDA</h2>
                <h3>Jun. 2025 - Actualidad</h3>
                <p>Desarrollé un módulo de integración con Mastodon utilizando
                    python y pyramid, implementando autenticación con OAuth 2.0 y
                    comunicación mediante ActivityPub.
                    <ul>
                        <li> Diseñé e implementé consumo de API REST para publicación y obtención de datos</li>
                        <li>Permití la interacción social dentro de la plataforma (logros, progreso)</li>
                        <li>Apliqué buenas prácticas en arquitectura y manejo de datos</li>
                    </ul>
                </p>
            </div>
    </section>

    <section id="cursos">
        <h1>Cursos</h1>
        <div class="grid__courses">
            <div class="grid__courses-item">
                <img src="img/cursos/git-github.jpg" alt="Certificado del curso Git-Github">
                <h2>Curso Profesional de Git y GitHub</h2>
                <ul>
                    <li>Platzi</li>
                    <li>22 horas</li>
                    <li>18 de Junio de 2024</li>
                </ul>
            </div>
            <div class="grid__courses-item">
                <img src="img/cursos/apis-net.jpg" alt="Certificado del curso Apis con .NET">
                <h2>Curso de APIs con .NET</h2>
                <ul>
                    <li>Platzi</li>
                    <li>13 horas</li>
                    <li>26 de Junio de 2025</li>
                </ul>
            </div>
            <div class="grid__courses-item">
                <img src="img/cursos/entity-framework.jpg" alt="Certificado del curso Entity Framework">
                <h2>Curso de Fundamentos de Entity Framework</h2>
                <ul>
                    <li>Platzi</li>
                    <li>15 horas</li>
                    <li>12 de Junio de 2025</li>
                </ul>
            </div>
            <div class="grid__courses-item">
                <img src="img/cursos/linq.jpg" alt="Certificado del curso LINQ">
                <h2>Manejo de Datos con LINQ</h2>
                <ul>
                    <li>Platzi</li>
                    <li>15 horas</li>
                    <li>25 de Septiembre de 2025</li>
                </ul>
            </div>
            <div class="grid__courses-item">
                <img src="img/cursos/terminal.jpg" alt="Certificado del curso Terminal">
                <h2>Introducción a la Terminal y Línea de Comandos</h2>
                <ul>
                    <li>Platzi</li>
                    <li>18 horas</li>
                    <li>05 de febrero de 2026</li>
                </ul>
            </div>
            <div class="grid__courses-item">
                <img src="img/cursos/html.jpg" alt="Certificado del curso HTML">
                <h2>Curso de HTML</h2>
                <ul>
                    <li>Platzi</li>
                    <li>15 horas</li>
                    <li>22 de ENero de 2026</li>
                </ul>
            </div>
        </div>
    </section>
</div>